// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
button{
  color: mediumvioletred;
  font-family:"Helvetica Neue";
  font-size: large;
  width:120px;
  height:30px;


}.container input {
   width: 90%;
height:50%;
 }

